header {
    background-color: white;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.header__logo {
    height: 1em;
    margin: .5em;
}
#header__nav {
    display: none;
}
.header__email {
    display: none;
}

main > h3{
    text-align: center;
}

.main__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__logo {
    height: 10vw;
}

.hero {
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: scroll;
}

.hero__article {
    display: inline;
    color: white;
    background-size: cover;
    width: 83vw;
    height: 83vw;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
#hero__article0 {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("/assets/images/article0.jpg");
}
#hero__article1 {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("/assets/images/article1.jpg");
}
#hero__article2 {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("/assets/images/article3.jpg");
}
#hero__article3 {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("/assets/images/article4.jpg");
}

#tnw-conf {
    height: 25%;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("/assets/images/home-header_advert-tnw2021-03.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
}
#tnw-conf-btn {
    color: white;
    background-color: transparent;
    padding: 1em;
    border: 1px solid white;
    border-radius: 2em;
}

.popular-articles ol {
    display: flex;
    flex-direction: column;
}
.popular-articles ol li::marker {
    color: magenta;
    font-size: xx-large;
}


.latest-stories {
    display: flex;
    flex-direction: column;
}
.stories__article {
    padding: 1em;
}
.stories__article img {
    border-radius: 100%;
    width: 23vw;
    height: 23vw;
    float: left;
    padding: 1em;
}

#all-news-btn {
    width: 100%;
    color: slategray;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid gray;
    border-radius: 2em;
}

.explore-our-channels {
    display: grid;
    grid-template-columns: repeat(5, auto);
    overflow: scroll;
}
.channel__article {
    color: white;
    text-align: center;
    width: 28vw;
    height: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
}
.channel__article img {
    width: 15vw;
}

#plugg {
    background-image: url("/assets/images/plugged-background.webp");
}
#neural {
    background-image: url("/assets/images/neural-background.jpg");
}
#shift {
    background-image: url("/assets/images/shift-background.jpg");
}
#growth-quarters {
    background-image: url("/assets/images/growth-quarters-background.jpg");
}
#hardfork {
    background-image: url("/assets/images/hardfork-background.webp");
}

#newsletter-signup {
    color: white;
    height: 43vw;
    background-image: url("/assets/images/spacesbg.webp");
    background-position: center center;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
}
input {
    padding: 1em;
    border: none;
    margin: 0;
}
#newsletter__subscribe-btn {
    color: white;
    background-color: magenta;
    padding: 1em;
    border: none;
    margin: 0;
}
#video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
#video iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#work-with-us {
    text-align: center;
    display: flex;
    flex-direction: column;
}
#work-with-us img {
    height: 15vw;
}
#work-with-us__areas {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2,auto);
}
#work-with-us__areas div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#work-with-us__btn {
    color: white;
    background-color: teal;
    padding: 1em;
    border: none;
}

#companies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#companies img {
    width: 43vw;
}

footer {
    margin: 0;
    color: white;
    background-color: black;
    padding: 1em;
    padding-bottom: 4em;
}
footer a {
    color: teal;
    text-decoration: none;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    padding: .25em;
}
.footer--main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#footer__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#footer__moreNav, #footer__aboutNav {
    width: 50%;
}
.footer__logo {
    width: 20vw;
}
.footer--copyright {
    text-align: center;
    padding-top: 2em;
}